<!DOCTYPE html>
<html>
<head>
  <title>Labeler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= projects_path %>">
        Behold! The Labeler!
      </a>
    </div>
  </div>
</nav>

<div style="margin: 15px;">
  <%= yield %>
</div>

</body>
</html>
